<!DOCTYPE html>
<html lang="en" ng-app ="myModule" >
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body >
  <div class="container">
    <div class="row" style="text-align: right;">
      <a href="#home">Home</a>
      <a href="#checklist">Checklist</a>
      <a href="#">Help</a>
    </div>
  </div>
  
  <div class="container" >
    <div ng-view></div>
  </div>
  
  

    <!-- JS dependencies -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-route.min.js"></script>
  
    <script type="text/javascript" src="/javascript.js"></script>

    <!-- bootbox code -->
    <script type="text/javascript" src="/javascripts/bootbox.min.js"></script>
    <script type="text/javascript" src="/javascripts/customBootBox.js"></script>

    <!--AngularJS Controller-->

    
</body>
</html>