body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#helpGroup {
  padding: 15px 0 50px 0;
  line-height: 200%;

}

small {
  color: #aaa;
  line-height: 150%;
}

ul.helpList {
  cursor: pointer;
}

li.helpList {
  padding: 2px 0 4px 0;
  cursor: pointer;
}

.helpMenu.ui-scrollfix {
    padding: 0;
    position:fixed;
    top:100;
    width: 140px;
}

th {
  cursor: pointer;
}

tr.ng-enter {
    animation: fadeInRight 0.5s;
}

tr.ng-leave {
    /*animation: fadeOutRight 0.2s;*/
}

.priority-high {
  color: darkred;
  font-weight: bold;
  font-size: larger;
}

.priority-low {
  color: darkgreen;
}

.result-fail {
  color: darkred;
  font-weight: bold;
  font-size: larger;
}

.result-warning {
  color: orange;
  font-weight: bold;
  font-size: medium;
}

.result-pass {
  color: darkgreen;
}

.result-skip {
  text-decoration: line-through;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  display: inline-block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
  display: inline-block;
}

