<div class="container"  >
  <div class="page-header">
    <h2>Configure<small> for Emulation/Validation checklist web app</small></h2>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <h4>Project info:</h4>
      <div class="input-group col-sm-6">
        <span class="input-group-addon" >Project name:</span>
        <input type="text" class="form-control" placeholder="Project name">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <span class="input-group-addon" >Start Date:</span>
        <input type="text" class="form-control" placeholder="2016-0101" >
      </div>
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <span class="input-group-addon" >End Date:</span>
        <input type="text" class="form-control" placeholder="2016-0401" >
      </div>
    </div>
    <div class="col-sm-2">
      <h4><small>Total: </small>50<small> Working Days:</small></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h4>Stage info:</h4>
      <div class="input-group">
        <span class="input-group-addon" >Stage-1:</span>
        <input type="text" class="form-control" 
        placeholder="1st Deliver, 2nd Deliver, RTL Freeze, Tapout">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h4>RSE info:</h4>
      <div class="input-group">
        <span class="input-group-addon" >RSEs:</span>
        <input type="text" class="form-control"
        placeholder="Frank.Gao, Sophia.Suo, Qingang.Wang, Jeffery.Yang, Hui.Ren, Lianghai.Li, Chengzhi.Ren, Qian.Zhao, Tong.Ti, Intern">
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 100px;">
  <hr>
    <div class="col-md-6">
      <a class="btn btn-danger" href="https://localhost/api/checklist/">Checklist Record</a>
      <a class="btn btn-danger" href="https://localhost/api/stages/">Checklist Record</a>
      <a class="btn btn-danger" href="https://localhost/api/projects/">Checklist Record</a>
    </div>
  </div>
  
</div> <!-- end of 1st container -->