<div class="container"  >
  <div class="page-header">
    <h2>Emulation/Validation Checklist <small>web app</small></h2>
  </div>
  
  <div class="well col-sm-6"   style="height:400px;">
    <ul>
      <h4><small>Project Name: </small>LA/SF</h4>
      <h4><small>Schedule: </small>StartDate - TargetDate</h4>
      <h4><small>Resource: </small>Engineer</h4>
      <h4><small>Other infomation:</small>
      <p>This series of tutorial show you how you can create a reporting interface using AngularJS framework, Angular-chart.js lib, web Api, Visual Studio 2013, SQL Server Management Studio 2016.
  </p>
      <p>{{ message }}</p><h4>
    </ul>
  </div>
  
  <div class="col-sm-6" >
    <div ng-controller="dounutController">
        <nvd3 options="options" data="data"></nvd3>
    </div>

    <!--<div ng-controller="lineController">-->
    <!--    <nvd3 options="options" data="data"></nvd3>-->
    <!--</div>-->
  </div>
  
  <div class="row">
    <div class="col-sm-12"> 
      <h3>Progress:</h3>
    </div>
    
    <div class="col-sm-4" style="text-align: center;">Stage-1</div>
    <div class="col-sm-4" style="text-align: center;">Stage-2</div>
    <div class="col-sm-2" style="text-align: right;">RTL freeze <i class="fa fa-flag"></i></div>
    <div class="col-sm-2" style="text-align: right;">Tapout <i class="fa fa-flag"></i></div>

    <div class="col-sm-12"> 
      <div class="progress">
        <div class="progress-bar progress-bar-success " style="width: 33%">
          Completed
          <span class="sr-only">35% Complete (success)</span>
        </div>
        <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 20%">
          80%</i>
          <span class="sr-only">20% Complete (success)</span>
        </div>
        <!--<div class="progress-bar progress-bar-warning " style="width: 0%">-->
        <!--  <span>RTL freeze</span>-->
        <!--</div>-->
        <!--<div class="progress-bar progress-bar-danger" style="width: 20%">-->
        <!--  <span>Tapout</span>-->
        <!--</div>-->
      </div>
    </div>


  </div>

  <div class="row">
    <div class="col-sm-12"> 
    <h3>Current test status:</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10"> 
      <button type="button" class="btn btn-success">Pass  <span class="badge">42</span></button>
      <button type="button" class="btn btn-danger">Fail <span class="badge">8</span></button>
      <button type="button" class="btn btn-info">Ongoing  <span class="badge">20</span></button>
      <i class="fa fa-circle"></i>
      <button type="button" class="btn btn-warning">Warning <span class="badge">3</span></button>
      <button type="button" class="btn btn-primary">Blocking <span class="badge">3</span></button>
      <button type="button" class="btn btn-grey">skip <span class="badge">22</span></button>
    </div>
    <div class="col-sm-2" style="padding: 0 15px;"> 
      <button type="button" class="btn btn-default">Total <span class="badge">208</span> test cases</button>
    </div>    
  </div>  

  
</div> <!-- end of 1st container -->